# Cursor rules
.devcontainer/*
.vscode.example/*
.cursor*

# Devin's files
tools/*
venv/*
.env
README_devin.cursorrules.md

# Cython files
gfn/gflownet/build/*
*.c
*.cpp
*.h
*.hpp
*.hxx
*.h++
*.h
*.so
*egg-info

# Pycache
*/__pycache__/*
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

# Prior files
gfn/gflownet/priors/data/*

# Dataset
data/iris/*

# Logs
logs/*
gfn/None/*
gfn/wandb/*